Transito.json
{
  "name": "Transito",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "* * 04 * * 1-6"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        0
      ],
      "id": "d9add00e-88f3-4f9d-96eb-8c7a5f3ca3e6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "--Trocar para: dateadd(day, -20, GETDATE())\nselect a.filial\n\t, a.filial_origem\n\t, a.numero_nf_transferencia\n\t, a.emissao\n\t, c.email_gerente\nfrom LOJA_ENTRADAS a\n\tleft join TRANSITO_ATUALIZAVEL b on a.filial = b.filial_destino\n\t\tand a.FILIAL_ORIGEM = b.filial_origem \n\t\tand a.NUMERO_NF_TRANSFERENCIA = b.numero_NF\n\t\tjoin GSF_LOJAS_DIRETORIA c on a.filial = c.filial\nwhere a.emissao >= '20250101'\n\tand a.ENTRADA_CONFERIDA = 0\n\tand a.filial = '{{ $json.filial }}'\n\tand b.data_envio is null\norder by a.emissao asc\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        1120,
        -240
      ],
      "id": "3530af52-2dd4-4517-9307-84fab6c652ab",
      "name": "Microsoft SQL",
      "alwaysOutputData": true,
      "notesInFlow": false,
      "credentials": {
        "microsoftSql": {
          "id": "8rguz0R8o0fp0CrE",
          "name": "SQL IB"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7fa8a89f-beb8-413f-b627-2dea9587d47a",
              "name": "NF",
              "value": "={{ $json.numero_nf_transferencia }}",
              "type": "string"
            },
            {
              "id": "0cb688d6-6044-492a-8ca7-b02684048df0",
              "name": "filial_destino",
              "value": "={{ $json.filial }}",
              "type": "string"
            },
            {
              "id": "1da452b0-1554-4ecc-9011-139da7e5c531",
              "name": "filial_origem",
              "value": "={{ $json.filial_origem }}",
              "type": "string"
            },
            {
              "id": "12a40e48-bf39-4b80-bc84-56f620889daa",
              "name": "dia em transito",
              "value": "={{ Math.floor(($now.toJSDate() - new Date($json.emissao)) / (1000 * 60 * 60 * 24)) }}\n",
              "type": "string"
            },
            {
              "id": "ed72e465-7312-4552-94ea-c29553e00b26",
              "name": "email_gerente",
              "value": "={{ $json.email_gerente }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1664,
        -256
      ],
      "id": "26c7ea4e-3d24-4cdf-8407-532e0be63495",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fromEmail": "joaopedro.mlima9@gmail.com",
        "toEmail": "joaopedro.mlima9@gmail.com",
        "subject": "=Notas em trânsito da filial {{ $('Edit Fields2').item.json.filial }}",
        "html": "=Bom dia!\n<br><br>\nPeço que verifiquem a situação das NFs abaixo,\n<br>\nCaso já tenham sido recebidas, favor baixá-las.\n<br><br>\n\n<table width=\"100%\" cellpadding=\"6\" cellspacing=\"0\"\n       style=\"border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px;\">\n    <thead>\n        <tr style=\"background-color: #f2f2f2;\">\n            <th style=\"border: 1px solid #ccc;\">Filial destino</th>\n            <th style=\"border: 1px solid #ccc;\">Filial origem</th>\n            <th style=\"border: 1px solid #ccc;\">NF transferência</th>\n            <th style=\"border: 1px solid #ccc;\">Dias em trânsito</th>\n        </tr>\n    </thead>\n    <tbody>\n        {{ $json.data.map(d => `\n        <tr>\n            <td style=\"border: 1px solid #ccc; text-align: center;\">\n                ${d.filial_destino}\n            </td>\n            <td style=\"border: 1px solid #ccc; text-align: center;\">\n                ${d.filial_origem}\n            </td>\n            <td style=\"border: 1px solid #ccc; text-align: center;\">\n                ${d.NF}\n            </td>\n            <td style=\"border: 1px solid #ccc; text-align: center;\">\n                ${d[\"dia em transito\"]}\n            </td>\n        </tr>\n        `).join('') }}\n    </tbody>\n</table>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2112,
        -256
      ],
      "id": "a199ba25-e4f1-4488-ae0c-46116530ff31",
      "name": "Send email",
      "webhookId": "3637ecc9-5acf-4054-a755-7cc10156eb6b",
      "credentials": {
        "smtp": {
          "id": "cAL0FtZL8kQWPeYe",
          "name": "Credencial E-mail"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1904,
        -256
      ],
      "id": "02b23f6f-6799-4e23-aac9-62f2abdb6b1a",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select DISTINCT(a.filial)\nfrom LOJA_ENTRADAS a\n\tjoin cadastro_cli_for b on a.filial = b.nome_clifor\nwhere emissao <= '20251201'\n\tand a.ENTRADA_CONFERIDA = 0\n\tand b.inativo = 0\norder by filial asc\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        288,
        -288
      ],
      "id": "e503a1b7-ee36-4bac-b682-d885a12aea5c",
      "name": "Microsoft SQL1",
      "credentials": {
        "microsoftSql": {
          "id": "8rguz0R8o0fp0CrE",
          "name": "SQL IB"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        544,
        -288
      ],
      "id": "fe01cc95-89e8-4fa0-88ce-9266944fde1f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50f2aebc-b7bf-44ad-a83c-da93f67d2062",
              "name": "filial",
              "value": "={{ $json.filial }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        -240
      ],
      "id": "23ffce8e-c663-4bbe-872f-6ed640031bd7",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3799a57d-1c4f-49fb-9ed9-79a4a076ff16",
              "leftValue": "={{ $json.filial }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1392,
        -240
      ],
      "id": "d8b68676-e680-4d48-b8e7-59ab8f3ca642",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "--Trocar para: dateadd(day, -20, GETDATE())\nselect a.filial\n\t, a.filial_origem\n\t, a.numero_nf_transferencia\n\t, a.emissao\n\t, c.email_gerente\nfrom LOJA_ENTRADAS a\n\tleft join TRANSITO_ATUALIZAVEL b on a.filial = b.filial_destino\n\t\tand a.FILIAL_ORIGEM = b.filial_origem \n\t\tand a.NUMERO_NF_TRANSFERENCIA = b.numero_NF\n\t\tjoin GSF_LOJAS_DIRETORIA c on a.filial = c.filial\nwhere a.emissao >= '20250101'\n\tand a.ENTRADA_CONFERIDA = 0\n\tand a.filial = '{{ $json.filial }}'\n\tand b.data_envio is null\norder by a.emissao asc\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        1120,
        352
      ],
      "id": "e118ef0b-d9b5-4ae5-ba1d-02601989d61d",
      "name": "Microsoft SQL2",
      "alwaysOutputData": true,
      "notesInFlow": false,
      "credentials": {
        "microsoftSql": {
          "id": "OkN54iV2AMtgjIYk",
          "name": "SQL TH"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7fa8a89f-beb8-413f-b627-2dea9587d47a",
              "name": "NF",
              "value": "={{ $json.numero_nf_transferencia }}",
              "type": "string"
            },
            {
              "id": "0cb688d6-6044-492a-8ca7-b02684048df0",
              "name": "filial_destino",
              "value": "={{ $json.filial }}",
              "type": "string"
            },
            {
              "id": "1da452b0-1554-4ecc-9011-139da7e5c531",
              "name": "filial_origem",
              "value": "={{ $json.filial_origem }}",
              "type": "string"
            },
            {
              "id": "12a40e48-bf39-4b80-bc84-56f620889daa",
              "name": "dia em transito",
              "value": "={{ Math.floor(($now.toJSDate() - new Date($json.emissao)) / (1000 * 60 * 60 * 24)) }}\n",
              "type": "string"
            },
            {
              "id": "ed8008ab-7c93-4e0d-abe5-0334777adce8",
              "name": "email_gerente",
              "value": "={{ $json.email_gerente }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1664,
        336
      ],
      "id": "1a3fe419-dd0c-45a2-a16d-f0e4914b70ae",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "fromEmail": "joaopedro.mlima9@gmail.com",
        "toEmail": "joaopedro.mlima9@gmail.com",
        "subject": "=Notas em trânsito da filial {{ $('Edit Fields4').item.json.filial }}",
        "html": "=Bom dia!\n<br><br>\nPeço que verifiquem a situação das NFs abaixo,\n<br>\nCaso já tenham sido recebidas, favor baixá-las.\n<br><br>\n\n<table width=\"100%\" cellpadding=\"6\" cellspacing=\"0\"\n       style=\"border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px;\">\n    <thead>\n        <tr style=\"background-color: #f2f2f2;\">\n            <th style=\"border: 1px solid #ccc;\">Filial destino</th>\n            <th style=\"border: 1px solid #ccc;\">Filial origem</th>\n            <th style=\"border: 1px solid #ccc;\">NF transferência</th>\n            <th style=\"border: 1px solid #ccc;\">Dias em trânsito</th>\n        </tr>\n    </thead>\n    <tbody>\n        {{ $json.data.map(d => `\n        <tr>\n            <td style=\"border: 1px solid #ccc; text-align: center;\">\n                ${d.filial_destino}\n            </td>\n            <td style=\"border: 1px solid #ccc; text-align: center;\">\n                ${d.filial_origem}\n            </td>\n            <td style=\"border: 1px solid #ccc; text-align: center;\">\n                ${d.NF}\n            </td>\n            <td style=\"border: 1px solid #ccc; text-align: center;\">\n                ${d[\"dia em transito\"]}\n            </td>\n        </tr>\n        `).join('') }}\n    </tbody>\n</table>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2112,
        336
      ],
      "id": "85949ddb-f4ed-46b0-b660-ac93f2d3152c",
      "name": "Send email1",
      "webhookId": "3637ecc9-5acf-4054-a755-7cc10156eb6b",
      "credentials": {
        "smtp": {
          "id": "cAL0FtZL8kQWPeYe",
          "name": "Credencial E-mail"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1904,
        336
      ],
      "id": "fd2c0412-2508-4897-aa7b-7c6ce3156302",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select DISTINCT(a.filial)\nfrom LOJA_ENTRADAS a\n\tjoin cadastro_cli_for b on a.filial = b.nome_clifor\nwhere emissao <= '20251201'\n\tand a.ENTRADA_CONFERIDA = 0\n\tand b.inativo = 0\norder by filial asc\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        288,
        304
      ],
      "id": "c36c3874-97e2-4859-a4f4-99a4aede3e23",
      "name": "Microsoft SQL3",
      "credentials": {
        "microsoftSql": {
          "id": "OkN54iV2AMtgjIYk",
          "name": "SQL TH"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        544,
        304
      ],
      "id": "c71f017f-7f16-4419-b61d-aba83d88a30e",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50f2aebc-b7bf-44ad-a83c-da93f67d2062",
              "name": "filial",
              "value": "={{ $json.filial }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        352
      ],
      "id": "2b17a4c3-b045-47f5-a6db-48aed4a5fff4",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3799a57d-1c4f-49fb-9ed9-79a4a076ff16",
              "leftValue": "={{ $json.filial }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1392,
        352
      ],
      "id": "160cff79-02d7-432c-a5f6-13088b71bb5a",
      "name": "If1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TA6W9QdfYtSJ4y6b",
          "mode": "list",
          "cachedResultUrl": "/workflow/TA6W9QdfYtSJ4y6b",
          "cachedResultName": "Atualiza tabela TRANSITO_ATUALIZAVEL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2464,
        512
      ],
      "id": "df3ee288-d753-42e6-87f4-896b6ae2f5b3",
      "name": "Call 'Atualiza tabela TRANSITO_ATUALIZAVEL'1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eeaa33ba-e1f5-4a04-93d1-b39184eb64fa",
              "name": "Filial",
              "value": "TH",
              "type": "string"
            },
            {
              "id": "d8b5e669-3561-4818-9225-e793fe1fed69",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2096,
        512
      ],
      "id": "edde66f5-c1bc-47a9-80ef-0afe8d0f6d95",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "205a1cfb-2528-4d65-9e38-884ad094a919",
              "name": "Filial",
              "value": "IB",
              "type": "string"
            },
            {
              "id": "67cf1de6-7473-4175-bfd9-0415585228e1",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2096,
        -80
      ],
      "id": "46476ea4-7c18-49d4-a298-0db302eff8cc",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "fromEmail": "joaopedro.mlima9@gmail.com",
        "toEmail": "joaopedro.mlima9@gmail.com",
        "subject": "Trânsito notas banco IB",
        "html": "Todas as notas em trânsito do banco da IB já foram cobradas",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        784,
        -448
      ],
      "id": "99e26aa5-ac22-49da-a056-d53673996a6f",
      "name": "Send email2",
      "webhookId": "9a20de05-f35d-431b-9ed5-0029c963c4e4",
      "credentials": {
        "smtp": {
          "id": "cAL0FtZL8kQWPeYe",
          "name": "Credencial E-mail"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "joaopedro.mlima9@gmail.com",
        "toEmail": "joaopedro.mlima9@gmail.com",
        "subject": "Notas em trânsito",
        "html": "Todas as notas do banco da TH já foram cobradas.",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        752,
        160
      ],
      "id": "3ebd33e1-3a88-4513-bc9a-0f432f7f621f",
      "name": "Send email3",
      "webhookId": "64920482-483d-4594-9838-de27d39ea976",
      "credentials": {
        "smtp": {
          "id": "cAL0FtZL8kQWPeYe",
          "name": "Credencial E-mail"
        }
      }
    },
    {
      "parameters": {
        "content": "## Query para pegar todas as filiais que tem nota de entrada aberta\n",
        "height": 880,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        224,
        -432
      ],
      "id": "2cd82a15-2afb-4db6-8f2c-65a18445b7f3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Query que faz a verificação se já não foi cobrada, e pega os dados da NF, filial origem e destino e calcula a quantidade de dias em aberto\n",
        "height": 992,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1008,
        -480
      ],
      "id": "4ef25f5f-4b78-44b7-9600-c8bdb66aed8e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Envia o e-mail para as lojas\n ",
        "height": 240,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2048,
        -352
      ],
      "id": "84325d54-07af-4394-a339-850a2533c790",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Envia o e-mail para as lojas\n ",
        "height": 240,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2048,
        224
      ],
      "id": "9838da7c-1b6c-4e65-bf3a-d79a55bf4b10",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Envia e-mail para notificar que todas as notas ja foram cobradas\n",
        "height": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        704,
        16
      ],
      "id": "129127d9-5087-47e5-a214-e8a56d08c345",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Envia e-mail para notificar que todas as notas ja foram cobradas\n",
        "height": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        -592
      ],
      "id": "2220d0df-b929-449b-8909-5ffe7c79560f",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Envia os dados para um sub-workflow para dar baixa na tabela TRANSITO_ATUALIZAVEL",
        "height": 1008,
        "width": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2336,
        -304
      ],
      "id": "768b852f-8b6c-4510-aa1b-8a51095c33f3",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TA6W9QdfYtSJ4y6b",
          "mode": "list",
          "cachedResultUrl": "/workflow/TA6W9QdfYtSJ4y6b",
          "cachedResultName": "Atualiza tabela TRANSITO_ATUALIZAVEL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2464,
        -80
      ],
      "id": "249a2b37-7ccd-44b5-a3c0-b703cd7f2098",
      "name": "Call 'Atualiza tabela TRANSITO_ATUALIZAVEL'"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Microsoft SQL1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Microsoft SQL3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        []
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Send email2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Send email1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Send email3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Microsoft SQL2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Atualiza tabela TRANSITO_ATUALIZAVEL'1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Call 'Atualiza tabela TRANSITO_ATUALIZAVEL'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Call 'Atualiza tabela TRANSITO_ATUALIZAVEL'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Atualiza tabela TRANSITO_ATUALIZAVEL'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "7fbc3529-8d61-4f34-9c0f-516ee69da00a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c9ac0336281178410ae1caf9c0c4bc6510509f0f05a469f30c634bd9ecc77f35"
  },
  "id": "p6Ion8PfWGLPur6hE6W89",
  "tags": [
    {
      "updatedAt": "2026-02-10T01:44:54.968Z",
      "createdAt": "2026-02-10T01:44:54.968Z",
      "id": "YJGxff8FfyZk764o",
      "name": "Transito de notas"
    }
  ]
}