Transito.json
{
  "name": "Transito",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "* * 04 * * 1-6"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -816,
        560
      ],
      "id": "8fa4d2bd-bd56-4b79-870d-a4d297a2715b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "--Trocar para: dateadd(day, -20, GETDATE())\nselect a.filial\n\t, a.filial_origem\n\t, a.numero_nf_transferencia\n\t, a.emissao\n\t, c.email_gerente\nfrom LOJA_ENTRADAS a\n\tleft join TRANSITO_ATUALIZAVEL b on a.filial = b.filial_destino\n\t\tand a.FILIAL_ORIGEM = b.filial_origem \n\t\tand a.NUMERO_NF_TRANSFERENCIA = b.numero_NF\n\t\tjoin GSF_LOJAS_DIRETORIA c on a.filial = c.filial\nwhere a.emissao >= '20250101'\n\tand a.ENTRADA_CONFERIDA = 0\n\tand a.filial = '{{ $json.filial }}'\n\tand b.data_envio is null\norder by a.emissao asc\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        320,
        320
      ],
      "id": "5a7d456a-316b-4130-84b9-4fa64be73239",
      "name": "Microsoft SQL",
      "alwaysOutputData": true,
      "notesInFlow": false,
      "credentials": {
        "microsoftSql": {
          "id": "KtBQ1uO6JMALaFpK",
          "name": "Banco IB"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7fa8a89f-beb8-413f-b627-2dea9587d47a",
              "name": "NF",
              "value": "={{ $json.numero_nf_transferencia }}",
              "type": "string"
            },
            {
              "id": "0cb688d6-6044-492a-8ca7-b02684048df0",
              "name": "filial_destino",
              "value": "={{ $json.filial }}",
              "type": "string"
            },
            {
              "id": "1da452b0-1554-4ecc-9011-139da7e5c531",
              "name": "filial_origem",
              "value": "={{ $json.filial_origem }}",
              "type": "string"
            },
            {
              "id": "12a40e48-bf39-4b80-bc84-56f620889daa",
              "name": "dia em transito",
              "value": "={{ Math.floor(($now.toJSDate() - new Date($json.emissao)) / (1000 * 60 * 60 * 24)) }}\n",
              "type": "string"
            },
            {
              "id": "ed72e465-7312-4552-94ea-c29553e00b26",
              "name": "email_gerente",
              "value": "={{ $json.email_gerente }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        304
      ],
      "id": "0b2e042c-977f-4269-8efe-0170d747bd5a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1104,
        304
      ],
      "id": "835e793d-b050-4fa2-b717-decada124660",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select DISTINCT(a.filial)\nfrom LOJA_ENTRADAS a\n\tjoin cadastro_cli_for b on a.filial = b.nome_clifor\nwhere emissao <= '20251201'\n\tand a.ENTRADA_CONFERIDA = 0\n\tand b.inativo = 0\norder by filial asc\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -512,
        272
      ],
      "id": "10a137df-955c-4835-a7e6-88ee08830e3f",
      "name": "Microsoft SQL1",
      "credentials": {
        "microsoftSql": {
          "id": "KtBQ1uO6JMALaFpK",
          "name": "Banco IB"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -256,
        272
      ],
      "id": "c8bc3445-0489-4fd4-907a-17088dfb9e94",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50f2aebc-b7bf-44ad-a83c-da93f67d2062",
              "name": "filial",
              "value": "={{ $json.filial }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        320
      ],
      "id": "ec88f790-2be5-45cf-94c6-15748fa4fe3e",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3799a57d-1c4f-49fb-9ed9-79a4a076ff16",
              "leftValue": "={{ $json.filial }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        592,
        320
      ],
      "id": "c92feabb-4661-4fd5-901c-c6f3352b7a91",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "--Trocar para: dateadd(day, -20, GETDATE())\nselect a.filial\n\t, a.filial_origem\n\t, a.numero_nf_transferencia\n\t, a.emissao\n\t, c.email_gerente\nfrom LOJA_ENTRADAS a\n\tleft join TRANSITO_ATUALIZAVEL b on a.filial = b.filial_destino\n\t\tand a.FILIAL_ORIGEM = b.filial_origem \n\t\tand a.NUMERO_NF_TRANSFERENCIA = b.numero_NF\n\t\tjoin GSF_LOJAS_DIRETORIA c on a.filial = c.filial\nwhere a.emissao >= '20250101'\n\tand a.ENTRADA_CONFERIDA = 0\n\tand a.filial = '{{ $json.filial }}'\n\tand b.data_envio is null\norder by a.emissao asc\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        320,
        912
      ],
      "id": "3e7ae70b-263e-437e-a1c2-f52d766a5133",
      "name": "Microsoft SQL2",
      "alwaysOutputData": true,
      "notesInFlow": false,
      "credentials": {
        "microsoftSql": {
          "id": "UkgZstSJ5Wj9ofPE",
          "name": "Banco TH"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7fa8a89f-beb8-413f-b627-2dea9587d47a",
              "name": "NF",
              "value": "={{ $json.numero_nf_transferencia }}",
              "type": "string"
            },
            {
              "id": "0cb688d6-6044-492a-8ca7-b02684048df0",
              "name": "filial_destino",
              "value": "={{ $json.filial }}",
              "type": "string"
            },
            {
              "id": "1da452b0-1554-4ecc-9011-139da7e5c531",
              "name": "filial_origem",
              "value": "={{ $json.filial_origem }}",
              "type": "string"
            },
            {
              "id": "12a40e48-bf39-4b80-bc84-56f620889daa",
              "name": "dia em transito",
              "value": "={{ Math.floor(($now.toJSDate() - new Date($json.emissao)) / (1000 * 60 * 60 * 24)) }}\n",
              "type": "string"
            },
            {
              "id": "ed8008ab-7c93-4e0d-abe5-0334777adce8",
              "name": "email_gerente",
              "value": "={{ $json.email_gerente }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        896
      ],
      "id": "ed2ebd19-5965-4263-9d02-1cad99cf65ab",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1104,
        896
      ],
      "id": "5ed48610-3df5-4be4-8cca-861d2d14a77d",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select DISTINCT(a.filial)\nfrom LOJA_ENTRADAS a\n\tjoin cadastro_cli_for b on a.filial = b.nome_clifor\nwhere emissao <= '20251201'\n\tand a.ENTRADA_CONFERIDA = 0\n\tand b.inativo = 0\norder by filial asc\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -512,
        864
      ],
      "id": "df3f1cb6-4471-4806-bd96-8a15687ed94a",
      "name": "Microsoft SQL3",
      "credentials": {
        "microsoftSql": {
          "id": "UkgZstSJ5Wj9ofPE",
          "name": "Banco TH"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -256,
        864
      ],
      "id": "4ebd77a9-c688-4380-ac39-6e40f7797945",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50f2aebc-b7bf-44ad-a83c-da93f67d2062",
              "name": "filial",
              "value": "={{ $json.filial }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        912
      ],
      "id": "b58f2a76-2212-44d3-8ee2-2e8a1caf271f",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3799a57d-1c4f-49fb-9ed9-79a4a076ff16",
              "leftValue": "={{ $json.filial }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        592,
        912
      ],
      "id": "6219eccc-3c68-4299-96b2-ba5ebca36df4",
      "name": "If1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TA6W9QdfYtSJ4y6b",
          "mode": "list",
          "cachedResultUrl": "/workflow/TA6W9QdfYtSJ4y6b",
          "cachedResultName": "Atualiza tabela TRANSITO_ATUALIZAVEL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1664,
        1072
      ],
      "id": "68598ada-3fdf-411f-b46f-39deee551e02",
      "name": "Call 'Atualiza tabela TRANSITO_ATUALIZAVEL'1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eeaa33ba-e1f5-4a04-93d1-b39184eb64fa",
              "name": "Filial",
              "value": "TH",
              "type": "string"
            },
            {
              "id": "d8b5e669-3561-4818-9225-e793fe1fed69",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1296,
        1072
      ],
      "id": "36c8bab1-343e-41d9-a6a5-4865c89bd1cf",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "205a1cfb-2528-4d65-9e38-884ad094a919",
              "name": "Filial",
              "value": "IB",
              "type": "string"
            },
            {
              "id": "67cf1de6-7473-4175-bfd9-0415585228e1",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1296,
        480
      ],
      "id": "7e1ce958-3547-4e9a-82ff-5fc96c7a5675",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "content": "## Query para pegar todas as filiais que tem nota de entrada aberta\n",
        "height": 880,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -576,
        128
      ],
      "id": "97f56309-0603-4cda-a8ce-25e55047de15",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Query que faz a verificação se já não foi cobrada, e pega os dados da NF, filial origem e destino e calcula a quantidade de dias em aberto\n",
        "height": 992,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        80
      ],
      "id": "af6e8cf3-d0b9-435e-8015-639e8f280314",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Envia o e-mail para as lojas\n ",
        "height": 240,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1248,
        208
      ],
      "id": "a7f52d37-a181-4852-a736-4e7d8839b8af",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Envia o e-mail para as lojas\n ",
        "height": 240,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1248,
        784
      ],
      "id": "5dd6920b-d463-4c3e-ab1b-6444c39e965e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Envia e-mail para notificar que todas as notas ja foram cobradas\n",
        "height": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -96,
        576
      ],
      "id": "18e2151d-cecd-400d-b7d0-51a3c5947489",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Envia e-mail para notificar que todas as notas ja foram cobradas\n",
        "height": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -32
      ],
      "id": "61bf038d-3a2a-4ceb-822e-7e5745c18fe2",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Envia os dados para um sub-workflow para dar baixa na tabela TRANSITO_ATUALIZAVEL",
        "height": 1008,
        "width": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1536,
        256
      ],
      "id": "e997bba1-c12b-4d6d-bfb0-247997cebf44",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TA6W9QdfYtSJ4y6b",
          "mode": "list",
          "cachedResultUrl": "/workflow/TA6W9QdfYtSJ4y6b",
          "cachedResultName": "Atualiza tabela TRANSITO_ATUALIZAVEL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1664,
        480
      ],
      "id": "d5f0efa6-e29b-4a07-ba13-c255b8d36d5c",
      "name": "Call 'Atualiza tabela TRANSITO_ATUALIZAVEL'"
    },
    {
      "parameters": {
        "sendTo": "joaopedro.mlima9@gmail.com",
        "subject": "Notas em trânsito",
        "message": "Todas as notas do banco da TH já foram cobradas.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -32,
        720
      ],
      "id": "24a8cf52-642b-4d31-bee2-36d75df13fa4",
      "name": "Send a message",
      "webhookId": "81325bef-9d2c-4ea9-a6cf-423523c61cbc",
      "credentials": {
        "gmailOAuth2": {
          "id": "zAJHLyiZJO2Vm6S2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "joaopedro.mlima9@gmail.com",
        "subject": "Trânsito notas banco IB",
        "message": "Todas as notas em trânsito do banco da IB já foram cobradas",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -16,
        128
      ],
      "id": "0df0ba3d-5995-42fa-af22-cbd9c2e3ac8c",
      "name": "Send a message1",
      "webhookId": "f00e7605-d924-47e8-99e2-654f8dab8feb",
      "credentials": {
        "gmailOAuth2": {
          "id": "zAJHLyiZJO2Vm6S2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "joaopedro.mlima9@gmail.com",
        "subject": "=Notas em trânsito da filial {{ $('Edit Fields2').item.json.filial }}",
        "message": "=Bom dia! <br><br> Peço que verifiquem a situação das NFs abaixo, <br> Caso já tenham sido recebidas, favor baixá-las. <br><br>  <table width=\"100%\" cellpadding=\"6\" cellspacing=\"0\"        style=\"border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px;\">     <thead>         <tr style=\"background-color: #f2f2f2;\">             <th style=\"border: 1px solid #ccc;\">Filial destino</th>             <th style=\"border: 1px solid #ccc;\">Filial origem</th>             <th style=\"border: 1px solid #ccc;\">NF transferência</th>             <th style=\"border: 1px solid #ccc;\">Dias em trânsito</th>         </tr>     </thead>     <tbody>         {{ $json.data.map(d => `         <tr>             <td style=\"border: 1px solid #ccc; text-align: center;\">                 ${d.filial_destino}             </td>             <td style=\"border: 1px solid #ccc; text-align: center;\">                 ${d.filial_origem}             </td>             <td style=\"border: 1px solid #ccc; text-align: center;\">                 ${d.NF}             </td>             <td style=\"border: 1px solid #ccc; text-align: center;\">                 ${d[\"dia em transito\"]}             </td>         </tr>         `).join('') }}     </tbody> </table>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1312,
        304
      ],
      "id": "a5e8ed41-b409-401a-8f2e-2146a43c694f",
      "name": "Send a message2",
      "webhookId": "77119a06-c05b-4abc-b79a-e5577620bf2a",
      "credentials": {
        "gmailOAuth2": {
          "id": "zAJHLyiZJO2Vm6S2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=joaopedro.mlima9@gmail.com",
        "subject": "=Notas em trânsito da filial {{ $('Edit Fields4').item.json.filial }}",
        "message": "=Bom dia! <br><br> Peço que verifiquem a situação das NFs abaixo, <br> Caso já tenham sido recebidas, favor baixá-las. <br><br>  <table width=\"100%\" cellpadding=\"6\" cellspacing=\"0\"        style=\"border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px;\">     <thead>         <tr style=\"background-color: #f2f2f2;\">             <th style=\"border: 1px solid #ccc;\">Filial destino</th>             <th style=\"border: 1px solid #ccc;\">Filial origem</th>             <th style=\"border: 1px solid #ccc;\">NF transferência</th>             <th style=\"border: 1px solid #ccc;\">Dias em trânsito</th>         </tr>     </thead>     <tbody>         {{ $json.data.map(d => `         <tr>             <td style=\"border: 1px solid #ccc; text-align: center;\">                 ${d.filial_destino}             </td>             <td style=\"border: 1px solid #ccc; text-align: center;\">                 ${d.filial_origem}             </td>             <td style=\"border: 1px solid #ccc; text-align: center;\">                 ${d.NF}             </td>             <td style=\"border: 1px solid #ccc; text-align: center;\">                 ${d[\"dia em transito\"]}             </td>         </tr>         `).join('') }}     </tbody> </table>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1312,
        896
      ],
      "id": "3615e4ef-3b89-4f1d-9b3b-53462b333d1a",
      "name": "Send a message3",
      "webhookId": "91c4e964-75af-4320-ade1-8442d9325a8e",
      "credentials": {
        "gmailOAuth2": {
          "id": "zAJHLyiZJO2Vm6S2",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Microsoft SQL1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Microsoft SQL3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Microsoft SQL2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Atualiza tabela TRANSITO_ATUALIZAVEL'1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Call 'Atualiza tabela TRANSITO_ATUALIZAVEL'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Call 'Atualiza tabela TRANSITO_ATUALIZAVEL'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Atualiza tabela TRANSITO_ATUALIZAVEL'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2b6495e0-0a3e-4ca7-b9df-618f95eba185",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2efdf59d22b01f5b3cc02c6e5343efb0018294d35df8715600aeda534f49f95d"
  },
  "id": "fmDnoxaEpf6bhPkveDU-2",
  "tags": [
    {
      "updatedAt": "2026-03-19T02:34:50.223Z",
      "createdAt": "2026-03-19T02:34:50.223Z",
      "id": "xdonLAvP1eYGsIu9",
      "name": "Transito de notas"
    }
  ]
}